
<%- include('partials/header') %> 
<%- include('partials/navbar') %> 

<form action="/Produto" method="get"> 
    <button class= "btn btn-primary"> Cadastrar produto </button>
</form>

<%- include('partials/footer') %>

